<section>
  <h3>{{ displayTitle }}</h3>
  <p>{{ displayDescription }}</p>
  <div class="date_infos">
    <small>Criado em: <span>{{ displayCreatedAt }}</span></small>
    <div *ngIf="rawData.completedAt">
      <small>Completo em: {{ displayCompletedAt }}</small>
    </div>
    <div *ngIf="!rawData.completedAt" >
      <small>Prazo limite: {{displayDeadlineAt}}</small>
    </div>
  </div>
</section>
<section>
  <input 
    type="checkbox" 
    name="completed"
    [checked]="!!rawData.completedAt"
    (click)="toggleCompletion()"
  >
</section>
<section>
  <button>...</button>
</section>